Tester/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.157.18.9:3337/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Backend" />
  <xs:element name="DoTheThing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="request" nillable="true" type="q1:DemoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoTheThingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="DoTheThingResult" nillable="true" type="q2:DemoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>