Tester/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DemoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DemoRequest" nillable="true" type="tns:DemoRequest" />
  <xs:complexType name="DemoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quux" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DemoResponse" nillable="true" type="tns:DemoResponse" />
</xs:schema>